%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:vaccines, :index)
  %li.active=link_to tag_icon(:plus, pat(:new)), url(:vaccines, :new)

.tabs-content
  -form_for :vaccine, url(:vaccines, :create), :class => 'form-horizontal' do |f|
    =partial 'vaccines/form', :locals => { :f => f }
