	<div class="form-group">
		<label class="col-sm-2 control-label" for="calendarInput">Calendar:</label>
		<div class="col-sm-10">
			<%= select_tag(:calendar, :collection => @calendar, :fields => [:name, :id], include_blank: true, :class => "form-control", :id => "calendar_select") %>
		</div>
	</div>
